{% extends 'base.html' %}
{% block content %}
<h3 class="mb-3">{{ title }}</h3>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="col-md-6 mb-3">
      {{ form.vehicle_id.label(class_='form-label') }}
      {{ form.vehicle_id(class_='form-select') }}
    </div>
    <div class="col-md-6 mb-3">
      {{ form.doc_type.label(class_='form-label') }}
      {{ form.doc_type(class_='form-select') }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      {{ form.doc_name.label(class_='form-label') }}
      {{ form.doc_name(class_='form-control') }}
    </div>
    <div class="col-md-6 mb-3">
      {{ form.doc_number.label(class_='form-label') }}
      {{ form.doc_number(class_='form-control') }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      {{ form.issue_date.label(class_='form-label') }}
      {{ form.issue_date(class_='form-control', type='date') }}
    </div>
    <div class="col-md-6 mb-3">
      {{ form.expiry_date.label(class_='form-label') }}
      {{ form.expiry_date(class_='form-control', type='date') }}
    </div>
  </div>
  {{ form.submit(class_='btn btn-primary') }}
</form>
{% endblock %}
