{% extends 'base.html' %}
{% block content %}
<h3 class="mb-3">{{ title }}</h3>
<form method="post">
  {{ form.hidden_tag() }}
  <div class="row">
    <div class="col-md-4 mb-3">
      {{ form.incident_no.label(class_='form-label') }}
      {{ form.incident_no(class_='form-control') }}
    </div>
    <div class="col-md-4 mb-3">
      {{ form.incident_dt.label(class_='form-label') }}
      {{ form.incident_dt(class_='form-control') }}
      <div class="form-text">Format: YYYY-MM-DD HH:MM</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      {{ form.vehicle_id.label(class_='form-label') }}
      {{ form.vehicle_id(class_='form-select') }}
    </div>
    <div class="col-md-6 mb-3">
      {{ form.driver_id.label(class_='form-label') }}
      {{ form.driver_id(class_='form-select') }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 mb-3">
      {{ form.incident_type.label(class_='form-label') }}
      {{ form.incident_type(class_='form-select') }}
    </div>
    <div class="col-md-4 mb-3">
      {{ form.severity.label(class_='form-label') }}
      {{ form.severity(class_='form-select') }}
    </div>
    <div class="col-md-4 mb-3">
      {{ form.location.label(class_='form-label') }}
      {{ form.location(class_='form-control') }}
    </div>
  </div>
  <div class="mb-3">
    {{ form.description.label(class_='form-label') }}
    {{ form.description(class_='form-control', rows=3) }}
  </div>
  {{ form.submit(class_='btn btn-primary') }}
</form>
{% endblock %}
